<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <%= link_to root_path, class:"navbar-brand" do %>
    <span>Bookers</span>
    <% end %>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    <% if user_signed_in? %>
    <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
      <ul class="navbar-nav">

        <li class="ホーム">
          <%= link_to user_path(current_user), class:"btn btn-link text-light"  do %>
          <span class="fas fa-home">Home</span>
        <% end %>

        <li class="ユーザーズ">
          <%= link_to users_path, class:"btn btn-link text-light" do %>
          <span class="fas fa-users">Users</span>
        <% end %>

        <li class="ブックス">
          <%= link_to books_path, class:"btn btn-link text-light" do %>
          <span class="fas fa-book-open">Books</span>
        <% end %>

        <li class="ログアウト">
          <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link text-light" do %>
          <span class="fas fa-sign-out-alt">Logout</span>
        <% end %>
      </ul>
    </div>

    <% else %>
    <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
      <ul class="navbar-nav">

        <li class="ホーム">
          <%= link_to root_path, class:"btn btn-link text-light" do %>
          <span class="fas fa-home">Home</span>
        <% end %>

        <li class="アバウト">
          <%= link_to home_about_path, class:"btn btn-link text-light" do %>
          <span class="fas fa-link">About</span>
        <% end %>

        <li class="サインアップ">
          <%= link_to new_user_registration_path, class:"btn btn-link text-light" do %>
          <span class="fas fa-user-plus">Sign up</span>
        <% end %>

        <li class="ログイン">
          <%= link_to new_user_session_path, class:"btn btn-link text-light" do %>
          <span class="fas fa-sign-in-alt">Login</span>
        <% end %>

      </ul>
    </div>
      <% end %>

  </div>
  </nav>

  <% if flash[:notice] %>
    <p id="notice">
      <%= flash[:notice] %>
    </p>
  <% end %>

  <%= yield %>

<footer class="footer">
  <div class="text-center">
    <p class="text-muted">CopyRight Inflatop.inc</p>
  </div>
</footer>

  </body>